*{
  font-family: 'Press Start 2P', cursive;
}
h2{
  font-size: 2.5rem;
}

body{
  background-image: url(https://storage.googleapis.com/files.cs-first.com/images/music/7/clouds.png);
  width: 100%;
  height: 100vh;
  background-repeat: repeat-x;
  background-color: #7fad71;
  z-index: -1;

}

form{
  text-align: center;
  margin-top: 40px;
}
input{
  height: 2rem;
  font-size: 1.5rem;
}

button{
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: #6992f2;
}



.img{
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.ash{
  flex: 1;
float: left;
flex-wrap: nowrap;
transform: scale(1.25, 1.25);
z-index: -1;
margin-top: 120px;
margin-left: 25px;
width: 25%;
}

.ho-oh{
  z-index: -2;
  float: right;
  position: relative !important;
  animation: bob 10s infinite linear, fly 10s infinite linear, bigger 10s infinite linear;
}
.pokeImage{
  flex-wrap: nowrap;
  flex: 3;
  height:400px;
  margin-left: 206px;
margin-top: 200px;
width:30%;
height: 30%;
z-index: 5;
}

@keyframes bob {
  0%   {top: 0px;}
  10%   {top: 50px;}
  20%   {top: 100px;}
  30%   {top: 150px;}
  40%   {top: 100px;}
  50%   {top: 50px;}
  60%   {top: 0px;}
  70%  {top: 50px;}
  80%  {top: 100px}
  90% {top: 150px;}
  100%   {top: 100px;}
}

@keyframes fly {
    0%   {right: -200px;}
    10%   {right: 0px;}
    20%   {right: 200px;}
    30%   {right: 400px;}
    40%   {right: 600px;}
    50%   {right: 800px;}
    60%   {right: 1000px;}
    70%  {right: 1200px;}
    80%  {right: 1400px}
    90% {right: 1600px;}
    100%   {right: 1800px;}
}

@keyframes bigger {
    0%   {transform: scale(0.5);}
    25%  {transform: scale(1);}
    75%  {transform: scale(1.5);}
    100% {transform: scale(2);}
}
